.translateBar_div {
  width: 100%;
  border-radius: 1.2rem;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 0.5rem;
}
.divBox {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.inputField {
  width: 50%;
}
.sourceLang {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  color: black;
  right: 0;
}
.sourceLang__withe {
  color: #fff;
}

.box {
  background-color: var(--clr_main_background);
  border: var(--clr_accent_green) solid 2px;
  border-radius: 0.7rem;
  color: var(--font_color_bright);
  padding: 0.2rem 0.8rem;
  font-size: var(--font_size);
  min-width: 10rem;
}

.textareaInput {
  width: 50%;
  overflow: hidden;
  resize: none;
  font-family: 'Roboto', sans-serif;
}
