.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: red solid 2px;
}
h1 {
  border: red solid 2px;
  display: block;
}
.headline {
  border: red solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.andSymbol {
  height: 12vmin;
  pointer-events: none;
  border-radius: 100px;
  border: red solid 2px;
  animation: pulse 2s infinite;
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
