.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 300px;
  max-width: 120rem;
  margin: 0 auto 0 auto;
  color: white;
  gap: 1rem;
  padding: 1rem;
}
.header_menu {
  display: flex;
  position: relative;
  width: 100%;
}
.menuButton {
  background-color: transparent;
  position: absolute;
  right: 1.4rem;
  border: none;
  font-size: 4rem;
  top: 0.8rem;
}
.menuButtonIcon {
  color: var(--clr_accent_blue);
}

@media screen and (max-width: 350px) {
  .menuButton {
    font-size: 3rem;
  }
}
