.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr_main_background);
  height: 100vh;
  width: 100vw;
  max-width: 120rem;
  margin: 0 auto 0 auto;
  color: white;
  gap: 1rem;
  padding: 1rem;
}
.header_menu {
  display: flex;
  position: relative;
  width: 100%;
}
.menuButton {
  position: absolute;
  right: 1.4rem;
  background-color: var(--clr_main_background);
  border: none;
  font-size: 4rem;
  top: 0.8rem;
}
.menuButtonIcon {
  color: var(--clr_accent_blue);
}
