:root {
  --clr_main_background: #282c34;
  --clr_accent_darkGrey: #3c3e41;
  --clr_accent_green: #44ad79;
  --clr_accent_blue: #69b7f3;

  /* gradient background */
  --back_1Clr: #485563;
  --back_2Clr: #1b2027;

  /* gradient headline  */
  --firstClr: #2ca268;
  --secondClr: #439292;
  --thirdClr: #44a5f0;

  --ff_main: 'Roboto', sans-serif;
  --ff_accent: 'Handlee', sans-serif;

  --font_size: 1.8rem;
  --font_color_bright: #fff;
}
