.questionBox {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    var(--back_2Clr),
    var(--back_4Clr) 110%
  );
  border-radius: 2rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  min-height: 22rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  font-size: 2rem;
  gap: 1rem;
}
.editButtonBox {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 1rem;
  padding: 0.5rem 0;
}
.textBox p {
  padding: 0.5rem 0;
}
.textBoxUnderLine {
  width: 100%;
  border-bottom: var(--clr_accent_blue) solid 2px;
}
