.buttonRound {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  /* border-radius: 50%; */
  border-radius: 1.6rem;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
.buttonRound_small {
  width: 3.5rem;
}
.buttonRound_medium {
  width: 4rem;
}
.buttonRound_large {
  width: 5rem;
}
.buttonRound:hover {
  scale: 1.1;
}

.buttonRound__icon {
  width: 70%;
  height: 70%;
  align-self: center;
}
.buttonRound__IonIcon {
  scale: 2;
}
/* button click animation */
.button {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 0.4rem 3rem rgb(113, 255, 219);
}

.button:active:after {
  box-shadow: 0 0 0 0 rgb(113, 255, 219);
  border-radius: 4em;
  opacity: 1;
  transition: 0s;
}
