.header {
  min-height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0.8rem;
  width: 100%;
}
h1 {
  padding: 0.8rem 0.8rem;
}
.h1Left {
  background: linear-gradient(
    to right,
    var(--firstClr) 0%,
    var(--secondClr) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h1Right {
  background: linear-gradient(
    to right,
    var(--secondClr) 0%,
    var(--thirdClr) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headline {
  border-bottom: var(--clr_accent_green) solid 2px;
  padding: 0.2rem 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.andSymbol {
  height: 8vmin;
  pointer-events: none;
  border-radius: 100px;
  animation: pulse 2s infinite;
  filter: invert(49%) sepia(55%) saturate(392%) hue-rotate(131deg)
    brightness(110%) contrast(84%);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 400px) {
  .header {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 350px) {
  .header {
    font-size: 1.2rem;
  }
}
