.listGridBox {
  /* border-bottom: var(--clr_accent_green) dotted 2px; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3rem 1fr 6rem;
  padding: 0.4rem 0;
}
.listItemIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listItem {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.6rem;
  gap: 0.3rem;
}

.trash {
  color: rgba(148, 38, 38, 0.8);
}
.fav {
  color: rgb(206, 209, 49);
}

.truncate {
  /* width: 250px; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
