.divBox {
  width: 100%;
  gap: 2rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding: 1rem;
  /* border-top: var(--clr_accent_green) solid 2px; */
}
.iconTextBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.iconTextBox p {
  font-weight: 900;
}
